@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div align="center">
    <h1 class="display-4"><strong>Contact Us</strong></h1>
    <div width: 100%>
        <div id="middle" style="width:45%;  margin: 0 auto;" align="center">
            <center>
                <img src="~/lib/Content/tele1.jpg" width="250" height="150" />
            </center>
            <h3>Call Us</h3>
            <p style="font-size:20px">Dr Micheal Lamula: (031) 502 5908</p>
            <p style="font-size:20px">Dr Bob Marley: (031) 505 6875</p>
        </div>

        <div id="middle" style="width:45%;  margin: 0 auto;" align="center">
            <center>
                <img src="~/lib/Content/email.jpg" width="250" height="150" />
            </center>
            <h3>Email Us</h3>
            <p style="font-size:20px">Dr Micheal Lamula: micheallamula@gmail.com</p>
            <p style="font-size:20px">Dr Bob Marley: bobmarley@gmail.com</p>
            <p style="font-size:20px">Practice: ethekwinimedicalpractice@gmail.com</p>
            <br />
        </div>

        <div id="middle" style="width:45%;  margin: 0 auto;" align="center">
            <center>
                <img src="~/lib/Content/home1.png" width="250" height="150" />
            </center>
            <h3>Visit Us</h3>
            <p style="font-size:20px">
                42 Brunette Road
                Westville
                Durban
                4023
            </p>
            <br />
        </div>

        <div id="middle" style="width:45%;  margin: 0 auto;" align="center">
            <h3>Social Media</h3>
            <div class="row">
                <div class="column">
                    <img src="~/lib/Content/space.jpg" width="80" height="50" />
                </div>
                <div class="column">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="~/lib/Content/li.png" width="80" height="50" />
                </div>
                <div class="column">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="~/lib/Content/id1.png" width="80" height="50" />
                </div>
                <div class="column">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="~/lib/Content/twit.png" width="80" height="50" />
                </div>
            </div>
        </div>
    </div>
</div>
