@{
    ViewData["Title"] = "Home Page";
}
<div align="center">
    <h1 class="display-4"><strong> eThekwini Medical Practice</strong></h1>
    <div align="center">
        <center>
            <img src="~/lib/Content/Blue and White Circle Corporate Clean Vaccine Scheduling General Health Banner.gif" width="1100" height="300" />
        </center>
        <br />
    </div>
    <div width: 100%>
        <div id="middle" style="width:45%;  margin: 0 auto;" align="center">
            <center>
                <img src="~/lib/Content/medical.jpg" width="350" height="250" />
            </center>
            <h3>Medical</h3>
            <p> EMP medical centre focus on routine, chronic and walk-in care as well as on patient wellness.</p>
        </div>


        <div id="middle" style="width:45%; margin: 0 auto;" align="center">
            <center>
                <img src="~/lib/Content/virtual.jpg" width="350" height="250" />
            </center>
            <h3>Virtual</h3>
            <p> A virtual consultation is a remote video conversation between a patient and a healthcare professional. </p>
        </div>

        <div id="middle" style="width: 45%; margin: 0 auto;" align="center">
            <center>
                <img src="~/lib/Content/day hos.jpg" width="350" height="250" />
            </center>
            <h3>Day Hospitals</h3>
            <p>
                Day Hospital care is a comprehensive inpatient programme for patients who have suffered an
                acute event as a result of an illness, injury or disease.
            </p>
        </div>

        <div id="middle" style="width: 45%; margin: 0 auto;" align="center">
            <center>
                <img src="~/lib/Content/dentist.jpg" width="350" height="250" />
            </center>
            <h3>Dental</h3>
            <p>EMP dental centres offers a full range of routine and specialized dental services.</p>
        </div>

        <div id="middle" style="width: 45%; margin: 0 auto;" align="center">
            <center>
                <img src="~/lib/Content/diabetes.jpg" width="350" height="250" />
            </center>
            <h3>Diabetes</h3>
            <p>
                Getting diabetes self-management education and support, taking medicine as needed
                and keeping health care appointments can reduce the impact of diabetes.
            </p>
        </div>
    </div>
</div>

