@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div align="center">
    <h1 class="display-4"><strong> Dr Micheal Lamula </strong></h1>

    <div id="middle" style="width:100%;  margin: 0 auto;" align="center">
        <img src="~/lib/Content/ml.jpg" width="500" height="300" />
    </div>

    <div width: 100%>
        <br />
        <p style="font-size:30px">Qualifications</p>
        <div id="middle" style="width:55%;  margin: 0 auto;" align="center">
            <p>After completing his medical degree at the University of the Free State in 1988 followed by his internship in 1990, Dr Micheal Lamula went on to specialise in Paediatrics. Again, through the University of the Free State, after working as a register at the Universitas Academic Hospital, Dr Lamula became a Specialist Paediatrician with a Masters in the field, in 1994.</p>
        </div>

        <div id="middle" style="width: 55%; margin: 0 auto;" align="center"
        <p>Dr Lamula then worked in private practice in Potchefstroom, while training interns and medical officers in the Neonatal Intensive Care Unit (NICU), Paediatric ICU and Paediatric Ward until he moved his practice to Pietermaritzburg in 2008. Since 2008 he has also been the principal investigator in international research in the paediatric field</p>
        </div>

        <div id="middle" style="width: 55%; margin: 0 auto;" align="center">
            <p>In 2014 he pursued his MSc in Medicine in Child Health Neurodevelopment at the University of Witwatersrand. While completing this qualification, Dr Lamula worked for the University of Kwa-Zulu Natal in 2016, running the tutorials for the 5th year medical students. It was in 2017 that Dr Lamula became the Senior Specialist at specialized neurodevelopmental state clinics, Greys and Edendale hospital.</p>
        </div>

        <div id="middle" style="width: 55%; margin: 0 auto;" align="center">
            <p>Finally, after obtaining his degree in Child Health Neurodevelopment in 2018, Dr Lamula is a practising paediatrician based at Life Hilton and St Anne's in Pietermaritzburg. From here he offers his expertise to a range of general paediatric problems with a particular interest in paediatric learning and attention problems such as Autism, ADD and ADHD as well as asthma and other respiratory conditions.</p>
        </div>
    </div>

    <h1 class="display-4"><strong> Dr Bob Marley </strong></h1>

    <div id="middle" style="width:55%;  margin: 0 auto;" align="center">
        <center>
            <img src="~/lib/Content/bob marley.jpg" width="500" height="300" />
        </center>
    </div>

    <div width: 100%>
        <br />
        <p style="font-size:30px">Qualifications</p>
        <div id="middle" style="width:55%;  margin: 0 auto;" align="center">
            <p>After completing his medical degree at the University of the Free State in 1988 followed by his internship in 1990, Dr Micheal Lamula went on to specialise in Paediatrics. Again, through the University of the Free State, after working as a register at the Universitas Academic Hospital, Dr Lamula became a Specialist Paediatrician with a Masters in the field, in 1994.</p>
        </div>

        <div id="middle" style="width: 55%; margin: 0 auto;" align="center"
        <p>Dr Lamula then worked in private practice in Potchefstroom, while training interns and medical officers in the Neonatal Intensive Care Unit (NICU), Paediatric ICU and Paediatric Ward until he moved his practice to Pietermaritzburg in 2008. Since 2008 he has also been the principal investigator in international research in the paediatric field</p>
        </div>

        <div id="middle" style="width: 55%; margin: 0 auto;" align="center">
            <p>In 2014 he pursued his MSc in Medicine in Child Health Neurodevelopment at the University of Witwatersrand. While completing this qualification, Dr Lamula worked for the University of Kwa-Zulu Natal in 2016, running the tutorials for the 5th year medical students. It was in 2017 that Dr Lamula became the Senior Specialist at specialized neurodevelopmental state clinics, Greys and Edendale hospital.</p>
        </div>

        <div id="middle" style="width: 55%; margin: 0 auto;" align="center">
            <p>Finally, after obtaining his degree in Child Health Neurodevelopment in 2018, Dr Lamula is a practising paediatrician based at Life Hilton and St Anne's in Pietermaritzburg. From here he offers his expertise to a range of general paediatric problems with a particular interest in paediatric learning and attention problems such as Autism, ADD and ADHD as well as asthma and other respiratory conditions.</p>
        </div>
    </div>
</div>
